body{
    background-color: #999999;
}

div.content{
    width: 75%;
    margin: 0px auto;
    min-height: 500px;
    background-color: #ffffff;
}

div.center-text{
    text-align: center;
}
